# Next Js Ignored Files
node_modules/
.next/
out/

# Spring Boot Ignored Files
target/
*.log
*.class
*.jar
*.war

server/src/main/resources/application-dev.yaml
server/src/main/java/com/alpeerkaraca/fintrackserver/Config
server/src/main/java/com/alpeerkaraca/fintrackserver/Controller
server/src/main/java/com/alpeerkaraca/fintrackserver/DTO
server/src/main/java/com/alpeerkaraca/fintrackserver/Model
server/src/main/java/com/alpeerkaraca/fintrackserver/Repository
server/src/main/java/com/alpeerkaraca/fintrackserver/Service

# General Ignored Files
.DS_Store
.env
.vscode/
.idea/
*.iml
*.swp
*.bak
.github/
agents.md