# Next Js Ignored Files
node_modules/
.next/
out/

# Spring Boot Ignored Files
target/
*.log
*.class
*.jar
*.war

# Certificates and Keys
*.pem


# General Ignored Files
.DS_Store
.env
.vscode/
.idea/
*.iml
*.swp
*.bak
.github/
agents.md