services:
  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - backend
  
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - postgres
  
  postgres:
    image: postgres:18-alpine
    container_name: fintrack-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: fintrack_db
      POSTGRES_USER: fintrack_user
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - fintrack-data:/var/lib/postgresql

volumes:
  fintrack-data: